<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="REMEDY_SERVER"     value="remedysrv"/>
    <add key="REMEDY_PORT"       value="8000"/>
    <add key="REMEDY_USER"       value="greenpau"/>
    <add key="REMEDY_PASS"       value="MTMyYzIwZDZhOTRl"/>
    <add key="REMEDY_FIRST_NAME" value="Paul"/>
    <add key="REMEDY_LAST_NAME"  value="Greenberg"/>
    <add key="REMEDY_LOGIN_ID"   value="greenpau"/>
  </appSettings>
</configuration>
